.atn-toggle-button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  margin: auto;
  cursor: pointer;
  fill: var(--svg-fill-enabled-inactive);
  transition: fill 0.2s linear;
}

.atn-toggle-button.active:hover {
  left: 2px;
  width: 26px;
  height: 16px;
}

.atn-toggle-button.checked {
  fill: var(--svg-fill-enabled-active);
  transform: rotateY(180deg);
}

.atn-toggle-button.disabled {
  cursor: default;
  fill: var(--svg-fill-disabled-inactive);
}

.atn-toggle-button.disabled.checked {
  fill: var(--svg-fill-disabled-active);
}