.atn-group-bar-container {
  border-collapse: collapse;
  border-spacing: 0;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2px;
  padding-right: 2px;
}

.atn-group-bar-title-tc {
  left: 0;
  font-weight: bold;
  background: var(--th-bg-color);
  margin-top: 2px;
  margin-left: 2px;
}

.atn-group-bar-title-td {
  height: 18px;
  line-height: 18px;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: center;
  overflow: hidden;
  border: 1px solid var(--border-color-darken);
  background: inherit;
  user-select: none;
  padding: 3px;
  margin: 0px;
  transition: background-color 0.3s ease-in;
}

.atn-group-bar-tc {
  margin-top: 2px;
  margin-left: 2px;
}

.atn-group-bar-td {
  position: relative;
  border: 1px solid var(--border-color-darken);
  background: inherit;
  user-select: none;
  padding: 3px;
  margin: 0px;
  transition: background-color 0.3s ease-in;
}

.atn-group-bar-td:last-child {
  border-left: 1px solid var(--border-color-darken);
}

.atn-group-bar-td:hover,
.atn-group-bar-td:focus,
.atn-group-bar-td:active {
  background: var(--th-bg-color-hover);
  transition: background-color 0.3s ease-in;
}

.atn-group-bar-td-text {
  margin-left: 30px;
  margin-right: 20px;
  height: 18px;
  line-height: 18px;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
  overflow: hidden;
}

.atn-group-bar-use-az {
  position: absolute;
  top: 2px;
  right: 8px;
}

.atn-group-bar-use-az.active {
  cursor: pointer;
}

.atn-group-bar-use-az.active:hover {
  top: -1px;
  right: 5px;
  width: 16px;
  height: 16px;
}

.atn-group-bar-use-za {
  position: absolute;
  bottom: 2px;
  right: 8px;
}

.atn-group-bar-use-za.active {
  cursor: pointer;
}

.atn-group-bar-use-za.active:hover {
  bottom: -1px;
  right: 5px;
  width: 16px;
  height: 16px;
}

.atn-group-bar-use {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  margin: auto;
}

.atn-group-bar-use.active {
  cursor: pointer;
}

.atn-group-bar-use.active:hover {
  left: 2px;
  width: 26px;
  height: 16px;
}