.atn-group-bar-container {
  border-collapse: collapse;
  border-spacing: 0;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2px;
  padding-right: 2px;
}

.atn-group-bar-title-tc {
  left: 0;
  font-weight: bold;
  background: var(--th-bg-color);
  margin-top: 2px;
  margin-left: 2px;
}

.atn-group-bar-title-td {
  height: 18px;
  text-align: center;
  overflow: hidden;
  border: 1px solid var(--border-color-darken);
  background: inherit;
  user-select: none;
  padding: 3px;
  margin: 0px;
  transition: background-color 0.3s ease-in;
}

.atn-group-bar-tc {
  margin-top: 2px;
  margin-left: 2px;
}

.atn-group-bar-td {
  display: flex;
  border: 1px solid var(--border-color-darken);
  background: inherit;
  user-select: none;
  padding: 3px;
  margin: 0px;
  transition: background-color 0.3s ease-in;
}

.atn-group-bar-td:last-child {
  border-left: 1px solid var(--border-color-darken);
}

.atn-group-bar-td:hover,
.atn-group-bar-td:focus,
.atn-group-bar-td:active {
  background: var(--th-bg-color-hover);
  transition: background-color 0.3s ease-in;
}

.atn-group-bar-td-text {
  height: 18px;
  text-align: left;
  overflow: hidden;
}

.atn-group-bar-sort {
  position: relative;
  height: 18px;
  width: 20px;
  margin: auto 3px auto 3px;
}

.atn-group-bar-use {
  position: relative;
  height: 10px;
  width: 20px;
  margin: auto 3px auto 3px;
}