.atn-page-bar-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 0px;
  height: 30px;
}

.atn-page-bar-btn {
  outline: none;
  border: none;
  font-weight: bold;
  background: var(--footer-bg-color);
  box-shadow: inset 2px 2px 4px 1px var(--shadow-bg-color);
  min-width: 30px;
  height: 20px;
  margin-left: 3px;
  margin-right: 3px;
}

.atn-page-bar-btn-current {
  outline: none;
  border: none;
  font-weight: bold;
  background: var(--footer-bg-color);
  box-shadow: 2px 2px 4px 1px var(--shadow-bg-color);
  min-width: 30px;
  height: 20px;
  margin-left: 3px;
  margin-right: 3px;
}

.atn-page-bar-btn:hover {
  box-shadow: inset 1px 1px 4px 1px var(--shadow-bg-color);
}

.atn-page-bar-btn:active {
  box-shadow: 1px 1px 4px 1px var(--shadow-bg-color);
}

.atn-page-bar-btn:first-child {
  border-radius: 10px 0 0 10px;
}

.atn-page-bar-btn:last-child {
  border-radius: 0 10px 10px 0;
}

.atn-pso-container {
  overflow-x: hidden;
  overflow-y: auto;
  height: 88px;
  margin: 5px;
  padding-left: 25px;
  box-shadow: 1px 1px 4px 1px var(--shadow-bg-color);
}

.atn-pso-option {
  position: relative;
  cursor: pointer;
  list-style-type: none;
}

.atn-pso-option:hover {
  background: linear-gradient(to right, var(--menu-bg-color-darken), transparent);
  list-style-type: disc;
}

.atn-pso-option.checked {
  background: linear-gradient(to right, var(--menu-bg-color-darken), transparent);
  list-style-type: circle;
}

.atn-pso-option.checked:hover {
  list-style-type: circle;
}