.atn-page-bar-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 0px;
  height: 30px;
}

.atn-page-bar-btn {
  outline: none;
  border: none;
  font-weight: bold;
  background: var(--footer-bg-color);
  box-shadow: inset 2px 2px 4px 1px var(--shadow-bg-color);
  min-width: 30px;
  height: 20px;
  margin-left: 3px;
  margin-right: 3px;
}

.atn-page-bar-btn-current {
  outline: none;
  border: none;
  font-weight: bold;
  background: var(--footer-bg-color);
  box-shadow: 2px 2px 4px 1px var(--shadow-bg-color);
  min-width: 30px;
  height: 20px;
  margin-left: 3px;
  margin-right: 3px;
}

.atn-page-bar-btn:hover {
  box-shadow: inset 1px 1px 4px 1px var(--shadow-bg-color);
}

.atn-page-bar-btn:active {
  box-shadow: 1px 1px 4px 1px var(--shadow-bg-color);
}

.atn-page-bar-btn:first-child {
  border-radius: 10px 0 0 10px;
}

.atn-page-bar-btn:last-child {
  border-radius: 0 10px 10px 0;
}
