.atn-sort-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-collapse: collapse;
  border-spacing: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.atn-sort-title-tr {
  position: sticky;
  top: 0;
  font-weight: bold;
  background: var(--th-bg-color);
  z-index: 1;
}

.atn-sort-title-td {
  height: 18px;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: center;
  overflow: hidden;
  border-bottom: 1px solid var(--border-color-darken);
  background: inherit;
  user-select: none;
  padding: 3px;
  margin: 0px;
  transition: background-color 0.3s ease-in;
}

.atn-sort-tr:nth-child(odd) {
	background: inherit;
}

.atn-sort-tr:nth-child(even) {
  background: var(--menu-bg-color-darken);
}

.atn-sort-td {
  position: relative;
  border-bottom: 1px solid var(--border-color-darken);
  background: inherit;
  user-select: none;
  padding: 3px;
  margin: 0px;
  transition: background-color 0.3s ease-in;
}

.atn-sort-td:last-child {
  border-top: 1px solid var(--border-color-darken);
}

.atn-sort-td:hover,
.atn-sort-td:focus,
.atn-sort-td:active {
  background: var(--th-bg-color-hover);
  transition: background-color 0.3s ease-in;
}

.atn-sort-td-text {
  margin-left: 30px;
  margin-right: 20px;
  height: 18px;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
  overflow: hidden;
}

.atn-column-sort {
  position: absolute;
  top: 2px;
  bottom: 2px;
  right: 20px;
  margin: auto;
}

.atn-column-show {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}