.atn-table {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 1px solid rgb(28, 53, 25);
  border-collapse: collapse;
  overflow: auto;
}

.atn-thead {
  position: sticky;
  top: 0;
  font-weight: bold;
  height: 25px;
}

.atn-thead-tr {
  white-space: nowrap;
}

.atn-thead-td {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
}

.atn-thead-td-container {
  display: inline-block;
  height: 18px;
  line-height: 18px;
  border-right: 1px dashed rgb(28, 53, 25);
  border-bottom: 1px solid rgb(28, 53, 25);
  background-color: rgb(163, 180, 161);
  cursor: move;
  user-select: none;
  padding: 3px;
  margin: 0px;
  overflow: hidden;
  text-align: center;
}
/*
.atn-thead-td-container:last-child {
  border-left: 1px solid rgb(28, 53, 25);
}
*/
.atn-thead-td-container:hover,
.atn-thead-td-container:focus,
.atn-thead-td-container:active {
  background-color: rgb(183, 216, 180);
}

.atn-thead-td-resizer {
  display: inline-block;
  /*float: right;
  white-space: nowrap;*/
  width: 4px;
  height: 18px;
  line-height: 18px;
  border-right: 1px solid rgb(28, 53, 25);
  border-bottom: 1px solid rgb(28, 53, 25);
  background-color: rgb(163, 180, 161);
  cursor: col-resize;
  user-select: none;
  padding: 3px;
  margin: 0px;
}

.atn-thead-td-resizer:hover,
.atn-thead-td-resizer:focus,
.atn-thead-td-resizer:active {
  background-color: rgb(183, 216, 180);
}

.atn-tbody {
  padding: 0px;
  margin: 0px;
}

.atn-tbody-tr {
  white-space: nowrap;
}

.atn-tbody-td {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
}

.atn-tbody-td-container {
  height: 16px;
  line-height: 16px;
  border-right: 1px solid rgb(128, 139, 126);
  border-bottom: 1px solid rgb(128, 139, 126);
  background-color: rgb(163, 180, 161);
  padding: 3px;
  margin: 0px;
  overflow: hidden;
}

.atn-tfoot {
  position: sticky;
  bottom: 0;
  font-weight: bold;
  height: 23px;
}

.atn-tfoot-tr {
  white-space: nowrap;
}

.atn-tfoot-td {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
}

.atn-tfoot-td-container {
  height: 16px;
  line-height: 16px;
  border-top: 1px solid rgb(28, 53, 25);
  border-right: 1px solid rgb(28, 53, 25);
  background-color: rgb(163, 180, 161);
  padding: 3px;
  margin: 0px;
  overflow: hidden;
}