:root {
  --table-bg-color: #d1e9d3;
  --table-bg-color-darken: #bfd6c1;
  --table-bg-color-hover: #9ef098;
  --outer-bd-color: #333;
  --inner-bd-color: #817474;
  --inner-bd-color-darken: #463f3f;
  --header-bg-color: #b8dabb;
  --header-bg-color-darken: #a3c2a5;
  --header-bg-color-hover: #9ef098;
  --button-bg-color-active: #096;
  --button-bg-color-inactive: #966;
  --shadow-bg-color: #0008;
}

.atn-container {
  width: 100%;
  height: 100%;
  margin: 3px;
  background-color: var(--table-bg-color);
  border: 1px solid var(--outer-bd-color);
  border-collapse: collapse;
  border-spacing: 0;
}

.atn-toolbar {
  background-color: var(--header-bg-color);
  position: relative;
}

.atn-groupbar {
  background-color: var(--header-bg-color-darken);
  position: relative;
}

.atn-content-mid-tr {
  width: 100%;
  height: 100%;
}

.atn-content-mid {
  background-color: inherit;
  position: relative;
  width: 100%;
  z-index: 0;
}

.atn-footer {
  background-color: var(--header-bg-color);
  position: relative;
}