.atn-table {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*border: 1px solid rgb(28, 53, 25);*/
  border-collapse: collapse;
  border-spacing: 0;
  overflow: auto;
  background-color: rgb(208, 219, 208);
  z-index: 0;
}

.atn-thead {
  position: sticky;
  top: 0;
  font-weight: bold;
}

.atn-thead-tr {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: rgb(194, 206, 193);
}

.atn-thead-td {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: inherit;
}

.atn-thead-td-container {
  display: inline-block;
  min-height: 18px;
  max-height: 38px;
  line-height: 18px;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: center;
  overflow: hidden;
  border-right: 1px dashed rgb(28, 53, 25);
  border-bottom: 1px solid rgb(28, 53, 25);
  background-color: inherit;
  cursor: move;
  user-select: none;
  padding: 3px;
  margin: 0px;
  transition: background-color 0.3s ease-in;
}

.atn-thead-td-container:last-child {
  border-left: 1px solid rgb(28, 53, 25);
}

.atn-thead-td-container:hover,
.atn-thead-td-container:focus,
.atn-thead-td-container:active {
  background-color: rgb(167, 219, 163);
  transition: background-color 0.3s ease-in;
}

.atn-thead-td-resizer {
  display: inline-block;
  width: 4px;
  max-height: 38px;
  line-height: 18px;
  border-right: 1px solid rgb(28, 53, 25);
  border-bottom: 1px solid rgb(28, 53, 25);
  background-color: inherit;
  cursor: col-resize;
  user-select: none;
  padding: 3px;
  margin: 0px;
  transition: background-color 0.3s ease-in;
}

.atn-thead-td-resizer:hover,
.atn-thead-td-resizer:focus,
.atn-thead-td-resizer:active {
  background-color: rgb(167, 219, 163);
  transition: background-color 0.3s ease-in;
}

.atn-tbody {
  padding: 0px;
  margin: 0px;
}

.atn-tbody-tr {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  transition: background-color 0.3s ease-in;
}

.atn-tbody-tr:nth-child(odd) {
	background-color: rgb(208, 219, 208);
}

.atn-tbody-tr:nth-child(even) {
  background-color: rgb(194, 206, 193);
}

.atn-tbody-tr:hover,
.atn-tbody-tr:focus,
.atn-tbody-tr:active {
  background-color: rgb(167, 219, 163);
  transition: background-color 0.3s ease-in;
}

.atn-tbody-td {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: inherit;
}

.atn-tbody-td-container {
  min-height: 16px;
  max-height: 38px;
  line-height: 16px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
  border-right: 1px solid rgb(128, 139, 126);
  border-bottom: 1px solid rgb(128, 139, 126);
  background-color: inherit;
  padding: 3px;
  margin: 0px;
}

.atn-tfoot {
  position: sticky;
  bottom: 0;
  font-weight: bold;
}

.atn-tfoot-tr {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color:rgb(208, 219, 208);
}

.atn-tfoot-td {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: inherit;
}

.atn-tfoot-td-container {
  min-height: 16px;
  max-height: 38px;
  line-height: 16px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
  border-top: 1px solid rgb(28, 53, 25);
  border-right: 1px solid rgb(28, 53, 25);
  border-bottom: 1px solid rgb(128, 139, 126);
  background-color: inherit;
  padding: 3px;
  margin: 0px;
}