:root {
  --webkit-scrollbar-gradient-a: #d1e9d3;
  --webkit-scrollbar-gradient-a-hover: #efe;
  --webkit-scrollbar-gradient-a-active: #afa;
  --webkit-scrollbar-gradient-b: #b8dabb;
  --webkit-scrollbar-gradient-shadow: #504b4bB0;

  --border-color: #817474;
  --border-color-darken: #463f3f;

  --title-bg-color: #d2e7d4;
  --toolbar-bg-color: #b8dabb;
  --groupbar-bg-color: #b8dabb;
  --table-bg-color: #d1e9d3;
  --footer-bg-color: #c1e2c4;

  --menu-bg-color: #d1e9d3;
  --menu-bg-color-darken: #bfd6c1;
  --button-bg-color-active: #9e9;
  --button-bg-color-inactive: #977;
  --shadow-bg-color: #000a;
  --svg-fill-enabled-active: #24a812;
  --svg-fill-enabled-inactive: #807272;
  --svg-fill-disabled-active: #3c922d77;
  --svg-fill-disabled-inactive: #80727277;
  --svg-fill-enabled: #000000;
  --svg-fill-disabled: #424242;

  --th-bg-color: linear-gradient(180deg, #b8dabb 0%, #e0f1e1 15%, #b8dabb 80%);
  --th-bg-color-hover: linear-gradient(180deg, #9ef098 0%, #e0f1e1 15%, #9ef098 80%);
  --tb-bg-color: #d1e9d3;
  --tb-bg-color-darken: #bfd6c1;
  --tb-bg-color-hover: #a9f0a3;
  --tb-bg-color-selected: #86e26a;
  --tf-bg-color: linear-gradient(180deg, #bfd6c1 0%, #e0f1e1 15%, #bfd6c1 80%);
}

* {
  font-family: "Roboto";
  font-size: 13px;
  line-height: 18px;
}

.atn-container {
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  margin-top: 5px;
  margin-left: 5px;
  background: var(--table-bg-color);
  border-collapse: collapse;
  border-spacing: 0;
}

.atn-title {
  line-height: 16px;
  position: absolute;
  top: -14px;
  left: 12px;
  padding-left: 3px;
  padding-right: 3px;
  background: var(--title-bg-color);
  border: 1px solid var(--border-color-darken);
  border-radius: 5px;
  z-index: 2;
}

.atn-toolbar {
  background: var(--toolbar-bg-color);
  position: relative;
  border: 1px solid var(--border-color-darken);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.atn-groupbar {
  background: var(--groupbar-bg-color);
  position: relative;
  border: 1px solid var(--border-color-darken);
  padding: 0px;
  margin: 0px;
}

.atn-container-tb {
  border: 1px solid var(--border-color-darken);
  padding: 0px;
  margin: 0px;
}

.atn-content-mid-tr {
  width: 100%;
  height: 100%;
}

.atn-content-mid {
  background: inherit;
  position: relative;
  width: 100%;
  z-index: 1;
}

.atn-container-tf {
  border: 1px solid var(--border-color-darken);
}

.atn-footer {
  background: var(--footer-bg-color);
  position: relative;
  padding: 0px;
  margin: 0px;
}

.atn-cursor-move {
  cursor: move;
}

.atn-cursor-resize-horizontal {
  cursor: ew-resize;
}