.atn-mleft {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  width: 0;
  transition: width 0.5s ease-in-out 0.1s;
}

.atn-mleft.active {
  width: 100px;
  transition: width 0.5s ease-in-out 0.1s;
}

.atn-mleft-content {
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-right: 1px solid rgb(28, 53, 25);
  background-color: rgb(208, 219, 208);
  box-shadow: 15px 0px 15px -12px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: opacity 0.5s ease-in-out 0.1s;
}

.atn-mleft-content.active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.1s;
}

.atn-mleft-button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -16px;
  margin: auto;
  width: 15px;
  height: 48px;
  background-color: rgba(208, 219, 208);
  border-radius: 0px 10px 10px 0px;
  opacity: 0.75;
  transition: background-color 0.5s ease-in 0.0s;
}

.atn-mleft-button:hover,
.atn-mleft-button:focus,
.atn-mleft-button:active {
  outline: none;
  opacity: 1;
  background-color: rgb(167, 219, 163);
  transition: background-color 0.5s ease-in 0.0s;
}