.atn-mtop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  transition: height 0.5s ease-in-out 0.1s;
}

.atn-mtop.active {
  height: 100px;
  transition: height 0.5s ease-in-out 0.1s;
}

.atn-mtop-content {
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgb(28, 53, 25);
  background-color: rgb(208, 219, 208);
  box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: opacity 0.5s ease-in-out 0.1s;
}

.atn-mtop-content.active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.1s;
}

.atn-mtop-button {
  position: absolute;
  bottom: -16px;
  left: 0;
  right: 0;
  margin: auto;
  width: 48px;
  height: 15px;
  background-color: rgba(208, 219, 208);
  border-radius: 0px 0px 10px 10px;
  opacity: 0.75;
  transition: background-color 0.5s ease-in 0.0s;
}

.atn-mtop-button:hover,
.atn-mtop-button:focus,
.atn-mtop-button:active {
  outline: none;
  opacity: 1;
  background-color: rgb(167, 219, 163);
  transition: background-color 0.5s ease-in 0.0s;
}