.atn-mleft {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  width: 0;
  transition: width 0.5s ease-in-out 0.1s;
  z-index: 1;
}

.atn-mleft.active {
  width: 100px;
  transition: width 0.5s ease-in-out 0.1s;
}

.atn-mleft-content {
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-right: 1px solid var(--inner-bd-color-darken);
  background-color: var(--table-bg-color-darken);
  box-shadow: 15px 0px 15px -12px var(--shadow-bg-color);
  overflow: hidden;
  transition: opacity 0.5s ease-in-out 0.1s;
}

.atn-mleft-content.active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.1s;
}

.atn-mleft-button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -3px;
  margin: auto;
  padding: 0;
  width: 12px;
  height: 48px;
  background-color: var(--button-bg-color-inactive);
  border-radius: 0px 12px 0px 12px;
  outline: none;
  transition: background-color 0.5s ease-in 0.0s;
}

.atn-mleft-button:hover,
.atn-mleft-button:focus,
.atn-mleft-button:active {
  background-color: var(--button-bg-color-active);
  transition: background-color 0.5s ease-in 0.0s;
}