.atn-mbot {
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0px;
  height: 0px;
  transition: height 0.5s ease-in-out 0.1s;
}

.atn-mbot.active {
  height: 50px;
  transition: height 0.5s ease-in-out 0.1s;
}

.atn-mbot-content {
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid rgb(28, 53, 25);
  background-color: rgb(208, 219, 208);
  overflow: hidden;
  transition: opacity 0.5s ease-in-out 0.1s;
}

.atn-mbot-content.active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.1s;
}

.atn-mbot-button {
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  margin: auto;
  width: 48px;
  height: 15px;
  background-color: rgba(208, 219, 208);
  border-radius: 10px 10px 0px 0px;
  opacity: 0.75;
  transition: background-color 0.5s ease-in 0.0s;
}

.atn-mbot-button:hover,
.atn-mbot-button:focus,
.atn-mbot-button:active {
  outline: none;
  opacity: 1;
  background-color: rgb(167, 219, 163);
  transition: background-color 0.5s ease-in 0.0s;
}