.atn-mright {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  transition: width 0.5s ease-in-out 0.1s;
  z-index: 2;
}

.atn-mright.active {
  width: 100px;
  transition: width 0.5s ease-in-out 0.1s;
}

.atn-mright-content {
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-left: 1px solid var(--inner-bd-color-darken);
  background-color: var(--table-bg-color-darken);
  box-shadow: -15px 0px 15px -12px var(--shadow-bg-color);
  overflow: hidden;
  transition: opacity 0.5s ease-in-out 0.1s;
}

.atn-mright-content.active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.1s;
}

.atn-mright-button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -4px;
  margin: auto;
  padding: 0;
  width: 10px;
  height: 48px;
  background-color: var(--button-bg-color-inactive);
  border-radius: 5px 5px 5px 5px;
  outline: none;
  transition: background-color 0.5s ease-in 0.0s;
}

.atn-mright-button:hover,
.atn-mright-button:focus,
.atn-mright-button:active {
  background-color: var(--button-bg-color-active);
  transition: background-color 0.5s ease-in 0.0s;
}