.atn-mtop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  transition: height 0.5s ease-in-out 0.1s;
  z-index: 2;
}

.atn-mtop.active {
  height: 100px;
  transition: height 0.5s ease-in-out 0.1s;
}

.atn-mtop-content {
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid var(--bd-color-darken);
  background-color: var(--table-bg-color-darken);
  box-shadow: 0 15px 15px -10px var(--shadow-bg-color);
  overflow: hidden;
  transition: opacity 0.5s ease-in-out 0.1s;
}

.atn-mtop-content.active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.1s;
}

.atn-mtop-button {
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0;
  width: 48px;
  height: 10px;
  background-color: var(--button-bg-color-inactive);
  border-radius: 5px 5px 5px 5px;
  outline: none;
  transition: background-color 0.5s ease-in 0.0s;
}

.atn-mtop-button:hover,
.atn-mtop-button:focus,
.atn-mtop-button:active {
  background-color: var(--button-bg-color-active);
  transition: background-color 0.5s ease-in 0.0s;
}