.atn-mleft {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  transition: width 0.5s ease-in-out 0.1s;
  z-index: 2;
}

.atn-mleft.active {
  width: 25%;
  transition: width 0.5s ease-in-out 0.1s;
}

.atn-mleft-content {
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-right: 1px solid var(--border-color-darken);
  background: var(--menu-bg-color);
  box-shadow: 15px 0px 15px -10px var(--shadow-bg-color);
  overflow: hidden;
  transition: opacity 0.5s ease-in-out 0.1s;
}

.atn-mleft-content.active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.1s;
}

.atn-mleft-button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -4px;
  margin: auto;
  padding: 0;
  width: 10px;
  height: 48px;
  background: var(--button-bg-color-inactive);
  border-radius: 5px 5px 5px 5px;
  outline: none;
  transition: background-color 0.5s ease-in 0.0s;
  z-index: 2000;
}

.atn-mleft-button:hover,
.atn-mleft-button:focus,
.atn-mleft-button:active {
  background: var(--button-bg-color-active);
  transition: background-color 0.5s ease-in 0.0s;
}