body {
  font-family: Roboto;
}

.content {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
/*  position: relative;
  width: 400px;
  height: 500px; */
  background-color: #d1e9d3;
  border-radius: 5px;
}

.toolbar-button {
  outline: none;
  background: #d1e9d3;
  margin: 3px 1px 3px 1px;
}