.atn-sort-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: auto;
}

.atn-sort-title-tr {
  position: sticky;
  top: 0;
  font-weight: bold;
  background: var(--th-bg-color);
}

.atn-sort-title-td {
  height: 18px;
  line-height: 18px;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: center;
  overflow: hidden;
  border-bottom: 1px solid var(--border-color-darken);
  background: inherit;
  user-select: none;
  padding: 3px;
  margin: 0px;
  transition: background-color 0.3s ease-in;
}

.atn-sort-tr:nth-child(odd) {
	background: inherit;
}

.atn-sort-tr:nth-child(even) {
  background: var(--menu-bg-color-darken);
}

.atn-sort-td {
  position: relative;
  border-bottom: 1px solid var(--border-color-darken);
  background: inherit;
  user-select: none;
  padding: 3px;
  margin: 0px;
  transition: background-color 0.3s ease-in;
}

.atn-sort-td:last-child {
  border-top: 1px solid var(--border-color-darken);
}

.atn-sort-td:hover,
.atn-sort-td:focus,
.atn-sort-td:active {
  background: var(--th-bg-color-hover);
  transition: background-color 0.3s ease-in;
}

.atn-sort-td-text {
  width: calc(100% - 50px);
  margin-left: 30px;
  height: 18px;
  line-height: 18px;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
  overflow: hidden;
}

.atn-column-sort-az {
  position: absolute;
  top: 2px;
  right: 8px;
}

.atn-column-sort-az.active {
  cursor: pointer;
}

.atn-column-sort-az.active:hover {
  top: -1px;
  right: 5px;
  width: 16px;
  height: 16px;
}

.atn-column-sort-za {
  position: absolute;
  bottom: 2px;
  right: 8px;
}

.atn-column-sort-za.active {
  cursor: pointer;
}

.atn-column-sort-za.active:hover {
  bottom: -1px;
  right: 5px;
  width: 16px;
  height: 16px;
}

.atn-column-show {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  margin: auto;
}

.atn-column-show.active {
  cursor: pointer;
}

.atn-column-show.active:hover {
  left: 2px;
  width: 26px;
  height: 16px;
}