.atn-table {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: auto;
  background: inherit;
  z-index: 0;
}

.atn-thead {
  position: sticky;
  top: 0;
  font-weight: bold;
  background: var(--th-bg-color);
  z-index: 2;
}

.atn-thead-tr {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background: inherit;
  padding: 0px;
  margin: 0px;
}

.atn-thead-td {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background: inherit;
  padding: 0px;
  margin: 0px;
}

.atn-thead-td-container {
  display: inline-block;
  min-height: 18px;
  max-height: 38px;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: center;
  overflow: hidden;
  border-right: 1px solid var(--border-color-darken);
  border-bottom: 1px solid var(--border-color-darken);
  background: inherit;
  user-select: none;
  padding: 0px;
  margin: 0px;
  transition: background-color 0.3s ease-in;
}

.atn-thead-td-container:last-child {
  border-left: 1px solid var(--border-color-darken);
}

.atn-thead-td-container:hover,
.atn-thead-td-container:focus,
.atn-thead-td-container:active {
  background: var(--th-bg-color-hover);
  transition: background-color 0.3s ease-in;
}

.atn-thead-td-text {
  padding: 3px;
  padding-right: 14px;
}

.atn-thead-td-resizer {
  position: absolute;
  right: 1px;
  width: 10px;
  top: 1px;
  bottom: 1px;
  border-left: 1px dashed var(--border-color-darken);
  background: inherit;
  user-select: none;
  padding: 0px;
  margin: 0px;
  transition: background-color 0.3s ease-in;
  
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAF0lEQVR42mN4/f/1fwZ0UDWzC1MQp0oAzgMM4YLm6HcAAAAASUVORK5CYII= ");
  background-repeat: repeat-y;
  background-position-x: center;
}

.atn-thead-td-resizer:hover,
.atn-thead-td-resizer:focus,
.atn-thead-td-resizer:active {
  background: var(--th-bg-color-hover);
  transition: background-color 0.3s ease-in;
}

.atn-tbody {
  padding: 0px;
  margin: 0px;
  background: var(--tb-bg-color);
  z-index: 0;
}

.atn-tbody-group-td {
  background: inherit;
  padding: 0px;
  margin: 0px;
}

.atn-tbody-group-td-container {
  display: flex;
  flex-direction: row;
  min-height: 18px;
  max-height: 38px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  background: inherit;
  padding: 0px;
  margin: 0px;
}

.atn-tbody-group-td-margin {
  padding: 0px;
  margin-left: 15px;
}

.atn-tbody-group-td-button {
  position: relative;
  height: 18px;
  padding: 3px;
}

.atn-tbody-group-td-button-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  margin: auto;
}

.atn-tbody-group-td-button-img:hover {
  left: 2px;
  width: 26px;
  height: 16px;
}

.atn-tbody-group-td-text {
  padding: 3px;
  margin-left: 24px;
}

.atn-tbody-tr {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background: inherit;
  padding: 0px;
  margin: 0px;
}

.atn-tbody-tr:nth-child(odd) {
  background: inherit;
}

.atn-tbody-tr:nth-child(even) {
  background: var(--tb-bg-color-darken);
}

.atn-tbody-tr:hover,
.atn-tbody-tr:focus,
.atn-tbody-tr:active {
  background: var(--tb-bg-color-hover);
}

.atn-tbody-td {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background: inherit;
  padding: 0px;
  margin: 0px;
}

.atn-tbody-td-container {
  min-height: 16px;
  max-height: 38px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  background: inherit;
  padding: 0px;
  margin: 0px;
}

.atn-tbody-td-text {
  padding: 3px;
}

.atn-left-align {
  text-align: left;
}

.atn-center-align {
  text-align: center;
}

.atn-right-align {
  text-align: right;
}

.atn-tfoot {
  position: sticky;
  bottom: 0;
  font-weight: bold;
  background: var(--tf-bg-color);
  z-index: 1;
}

.atn-tfoot-tr {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background: inherit;
  padding: 0px;
  margin: 0px;
}

.atn-tfoot-td {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background: inherit;
  padding: 0px;
  margin: 0px;
}

.atn-tfoot-td-container {
  min-height: 16px;
  max-height: 38px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
  border-top: 1px solid var(--border-color-darken);
  border-right: 1px solid var(--border-color-darken);
  border-bottom: 1px solid var(--border-color);
  background: inherit;
  padding: 0px;
  margin: 0px;
}

.atn-tfoot-td-text {
  padding: 3px;
}

.atn-round-button {
  width: 12px;
  height: 12px;
  margin: 6px 3px 6px 3px;
  padding: 0px;
  border-radius: 50%;
  outline: none;
  background: var(--button-bg-color-inactive);
}

.atn-round-button:hover,
.atn-round-button:focus,
.atn-round-button:active {
  background: var(--button-bg-color-active);
  transition: background-color 0.5s ease-in 0.0s;
}